.jumbotron {
  padding-top: 6rem;
  background-color: rgb(248, 246, 134);
}
#education {
  background-color: rgb(248, 246, 134);
}
footer {
  background-color: rgb(255, 251, 0);
}
section {
  padding-top: 5rem;
}
